
body{
    text-align: center;
    object-position: center;
    background-repeat: no-repeat;
    image-orientation: center;
    background-position: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #EEEEEE;
}

img{
    border-radius: 10px;
    width: 500px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

a{
    text-decoration: none;
    font-size: 25px;
    margin: 15px;
    color: #D15600;
}
 a:hover{
     background-color:#D15600;
     color: white;
     
 }
 a:visited{
     text-decoration: none;
 }

 ul{
     list-style: none;
 }

 h1{ 
     font-size: 75px;
     color:#EEEEEE;
     font-weight: bold;
     text-shadow: -5px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
 }
 
 h2{
     color: #D15600;
 }

 div {
   overflow: hidden;

   width: 100%;
   background-image: url(../img/resort2.jpg);
   height: 250px;
   border: black;
   border-width: 1px;
   border-style: solid;
   
   background-position: center;
   background-size: cover;
 }
 
  