
body{
    text-align: center;
    object-position: center;
    /* background-image: url(https://images-na.ssl-images-amazon.com/images/I/71wjmH8ZiEL._AC_SL1000_.jpg); */
    /*background-image: url(/img/resort1.jpg);*/
    background-repeat: no-repeat;
    image-orientation: center;
    background-position: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
    border-radius: 10px;
    width: 500px;
}

a{
    text-decoration: none;
    font-size: 25px;
}
 a:hover{
     background-color: orange;
     color: red;
     
 }
 a:visited{
     text-decoration: none;
 }

 ul{
     list-style: none;
 }

 h1{
     
     font-size: 75px;
     

 }

 div {
   overflow: hidden;

   width: 100%;
   background-image: url(/img/resort2.jpg);
   height: 250px;
   
   background-position: center;
   background-size: cover;
 }
 
  